.navbar-cont {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0.3em 3em 0.3em 1em;
  align-items: center;
  height: 2.8rem;
  border: 0.3px solid rgb(230, 237, 277);
  background-color: #3e899a;
  position: fixed;
  width: 80%;

  .first-div {
    display: flex;
    border: 0.5px solid rgb(230, 237, 277);
    height: 1.6rem;
    border-radius: 0.5rem;
    padding: 0.1em;

    .icon {
      color: #000;
    }

    input {
      border: none;
      outline: none;
      text-indent: 0.8rem;
      width: 15rem;
    }
  }
  .second-div {
    display: flex;
    gap: 0.5rem;

    .inner {
      display: flex;
      padding: 0.3em;
      position: relative;
      align-items: center;

      img {
        height: 2rem;
        border-radius: 50%;
      }

      .counter {
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        height: 1rem;
        width: 1rem;
        padding: 0.08em;
        font-weight: 700;
        color: white;
        border-radius: 50%;
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icon {
        color: #000;
      }
    }
  }
}
